#cell2 {
  width: 896px;
  height: 96px;
  background: var(--darkblue);
  position: relative;
  display: inline-block;
}

@keyframes animo3 {
  0% { opacity: 1; width: 2px; border-color: var(--blue)}
  100% { opacity: 0.4; width: 24px; border-color: var(--purple)}
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 16px;
  width: 896px;
}

.row div {
  width: 14px;
  height: 14px;
  border-radius: 1px;
  box-sizing: border-box;
  background-color: none;
  border: 1px solid var(--purple);
  animation: animo3 6s ease-out 0s infinite alternate-reverse;  
}
