:root {
  --purple: #aa00ff;
  --blue: #00caff;
  --darkblue: #0b0f46;
  --content-width: 1024px;
  --hero-height: 800px;
  --high: 448px;
}

body, html {
  margin: 0;
  padding: 0;
  color: #fff;
  background: #000;
  font-size: 14px;
  font-family: 'Source Code Pro', monospace;
}

header {
  height: 64px;
  width: 100vw;
  display: flex;
  align-items: center;
}

header > div {
  width: var(--content-width);
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: var(--darkblue);
  height: 96px;
}

main {
  width: 100vw;
}

.container {
  width: 100vw;
  padding: 0;
  display: flex;
  justify-content: center;
}

header > div,
.container {
  margin: 0 auto;
}

.page-title {
  color: #fff;
  margin-left: 64px;
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.cta-button {
  margin-right: 64px;
}


.intro {
  overflow-y: hidden;
}

.big-text {
  margin: -24px 64px -12px;
  opacity: 0;
  transition: margin-top 800ms ease-out 500ms, margin-bottom 800ms ease-out 500ms, opacity 600ms ease-out 500ms;
}

.fade-in-big-text {
  margin-top: 0;
  margin-bottom: 0;
  opacity: 1;
}

.big-text div {
  font-size: 80px;
  font-family: 'Roboto Slab';
  font-weight: 300;
  text-shadow: 5px 5px 4px #00000021;
}

.description {
  margin: 0 0 0 128px;
  width: 360px;
  opacity: 0;
  /* transition: margin-top 800ms ease-out 800ms, opacity 800ms ease-out 800ms; */
  transition: opacity 800ms ease-out 800ms;  
}

.fade-in-description {
  margin-top: 4px;
  opacity: 1;
}

.description p {
  line-height: 20px;
}

.definition-cont {
  width: var(--content-width);
}

.definition {
  margin: 96px 64px;
}

.definition p {
  font-size: 36px;
  font-family: 'Roboto Slab';
  font-weight: 300;
  margin: 0;
}

.detailed-info {
  width: 460px;
  margin-left: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details {
  display: flex;
  align-items: center;
  background: var(--darkblue);
  padding: 48px 0;
}

.collectibles-cont {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}

.featured {
  display: flex;
  align-items: center;
  height: var(--high);
  padding: 72px 0;
}

.featured > div h2 {
  font-size: 36px;
  font-family: 'Roboto Slab';
  font-weight: 300;
  margin: 0 0 24px;
}

.featured figure > div {
  width: 180px;
  height: 180px;
  overflow: hidden;
}

.featured div > figure {
  margin: 0;
}

.featured div > figure p {
  margin: 0;
}

.featured div > figure p+p {
  margin-top: 0.5em;
}

.featured figcaption {
  margin-top: 8px;
}

button {
  display: inline-block;
  border: none;
  padding: 0.5rem 1.5rem;
  margin: 0;
  text-decoration: none;
  background: #6d44a8;
  color: #ffffff;
  font-family: 'Roboto Slab';
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #5b3493;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

figure img {
  width: 180px;
  height: 180px;
}

#left-side,
#right-side {
  height: var(--hero-height);
  flex: 1;
}

#left-side {
  background-color: #475e97;
}

#right-side {
  background-color: rgba(11, 16, 71);
}

#center {
  position: relative;
  width: var(--content-width);
}

.intro {
  position: relative;
}

#slashdot {
  position: absolute;
  top: 0;
  left: 0;
  width: 1024px;
  height: var(--hero-height);
}

#intro-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#cell0 {
  width: 400px;
  height: 400px;
  background: #0b0f46;
  position: relative;
  display: inline-block;
}

#cell1 {
  width: 400px;
  height: 400px;
  background: var(--darkblue);
  position: relative;
  display: inline-block;
}

#cell0, #cell1, #cell2 {
  overflow: hidden;
}


.zoom {
  transition: transform .3s ease-out .15s; /* Animation */
}

.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}